.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-light);
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.nav__logo {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 1.4em;
}

.nav__toggle {
  display: none;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav__burger {
  width: 25px;
  height: 3px;
  background-color: var(--text-contrast-color);
  border-radius: 2px;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: var(--text-contrast-color);
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: var(--accent-color);
}

.nav__socials {
  display: flex;
  gap: 12px;
}

.nav__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  font-size: 16px;
  border-radius: 8px;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

.nav__icon:hover {
  background-color: var(--accent-color);
  color: var(--background-light);
}

.navbar__clock {
  font-family: var(--font-regular);
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--accent-color);
  margin: 0 0.5rem;
  min-width: 8ch;
  text-align: center;
  transform: translateY(-2px);
  align-self: center;
}

@media (max-width: 768px) {
  .nav__toggle {
    display: flex;
  }

  .nav__menu {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: var(--background-light);
    padding: 20px;
    gap: 15px;
    display: none;
  }

  .nav__menu.active {
    display: flex;
  }

  .nav__list {
    flex-direction: column;
    gap: 15px;
  }

  .nav__socials {
    justify-content: center;
  }
}
