<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Історія ФК Динамо Київ</title>
    <link rel="stylesheet" href="styles.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <h1>Історія футбольного клубу "Динамо" Київ"</h1>
      <img src="img/emblema.png" alt="Герб Динамо Київ" class="logo" />
    </header>

    <!-- History Section -->
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="dynamo.history.partial.html"
    ></section>

    <!-- Achievements Section -->
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="dynamo.achievements.partial.html"
    ></section>

    <!-- Players Section -->
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="dynamo.players.partial.html"
    ></section>

    <!-- Stadium Section -->
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="dynamo.stadium.partial.html"
    ></section>
  </body>
</html>
